.calibrate {
    font-size:22px;
}

.calibrate .controls {
    display:flex;
    justify-content: center;
    
}

.calibrate .controls > div {
    width:40%;
}

.calibrate .joystick {
    width:100px;
    height:100px;
    background-size:100% 100%;
    image-rendering: pixelated;
}

.calibrate .joystick.blue {
    background-image:url("/calibration/joystick-blue_idle.png");
}

.calibrate .joystick.blue.Right {
    background-image:url("/calibration/joystick-blue_right.png");
}

.calibrate .joystick.blue.Left {
    background-image:url("/calibration/joystick-blue_left.png");
}

.calibrate .joystick.red {
    background-image:url("/calibration/joystick-red_idle.png");
}

.calibrate .joystick.red.Right {
    background-image:url("/calibration/joystick-red_right.png");
}

.calibrate .joystick.red.Left {
    background-image:url("/calibration/joystick-red_left.png");
}

.calibrate .joystick.green {
    background-image:url("/calibration/joystick-green_idle.png");
}

.calibrate .joystick.green.Right {
    background-image:url("/calibration/joystick-green_right.png");
}

.calibrate .joystick.green.Left {
    background-image:url("/calibration/joystick-green_left.png");
}

.calibrate .joystick.yellow {
    background-image:url("/calibration/joystick-yellow_idle.png");
}

.calibrate .joystick.yellow.Right {
    background-image:url("/calibration/joystick-yellow_right.png");
}

.calibrate .joystick.yellow.Left {
    background-image:url("/calibration/joystick-yellow_left.png");
}

.calibrate .joystick.black {
    background-image:url("/calibration/joystick-black_idle.png");
}

.calibrate .joystick.black.Right {
    background-image:url("/calibration/joystick-black_right.png");
}

.calibrate .joystick.black.Left {
    background-image:url("/calibration/joystick-black_left.png");
}


.calibrate .button {
    background-image:url("/calibration/buttons.png");
    width:80px;
    height:80px;
    background-size:600% 200%;
    image-rendering: pixelated;
}

.calibrate .button.start {
    background-position-x:-400%;
}

.calibrate .button.blue {
    background-position-x:0%;
}

.calibrate .button.red {
    background-position-x:-100%;
}

.calibrate .button.green {
    background-position-x:-200%;
}

.calibrate .button.yellow {
    background-position-x:-300%;
}

.calibrate .button.pedal {
    background-position-x:-500%;
}

.calibrate .highlight .button {
    background-position-y:-100%;
}

.calibrate .buttons {
    display:flex;
}

.cache {
    display:none;
}

.puzzlesaurus {
    background-color:teal;
}

.dinosaur {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}

.dinosaur h3 {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin:30px 30px;
    margin-bottom:50px;
}

.dinosaur .bubble {
    opacity:0;
    margin:0 100px;
    line-height:70px;
    color:#566;
    background-color: #fff;
    padding:35px 35px;
    text-align: center;
    border-radius:30px;
    box-shadow:0px 15px 0 rgba(0,0,0,0.5);
    margin-bottom:100px;
    transform:translateY(50px);
}

.dinosaur .bubble.active {
    opacity:1;
    transition:opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform:translateY(0px);

}

.dinosaur img {
    width:600px;
    height:auto;
    image-rendering: pixelated;
}

.phrase-pool {
    display:none;
}