body {
    font-family: 'Press Start 2P', cursive;
    color:#fff;
    background-color:#000;
    margin:0px;
    padding:0px;
    font-size:250%;
    overflow:hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin:0px;
    padding:0px;
    line-height:150%;
}

.layout {
    margin:auto auto;
    width:1080px;
    height:1920px;
}

.layout-container {
    width:1000px;
    height:1840px;
    left:40px;
    top:40px;
    position:relative;
}

.winners-drugs {
    margin-left:-40px;
    margin-top:-40px;
    width:1080px;
    height:1920px;
    opacity:0;
    transition:opacity .5s ease-in-out;
    &.active {
        opacity:1;
    }
    img {
        width:100%;
        height:100%;
    }
}

.animatedgif {
    margin-left:-40px;
    margin-top:-40px;
    width:1080px;
    height:1920px;
    opacity:0;
    transition:opacity .5s ease-in-out;
    &.active {
        opacity:1;
    }
    img {
        width:100%;
        height:100%;
    }
}


.coinage {
    text-align:center;
    position:absolute;
    z-index:10;
    bottom:40px;
    width:100%;
    .blinking {
        animation: blinker 2s linear infinite;
    }
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.testscreen {
    width:100%;
    height:100%;

    table {
        /* border:4px solid #fff; */
        border-left:8px solid #fff;
        border-bottom:8px solid #fff;
        width:100%;
        height:100%;

        td {
            border-top:8px solid #fff;
            border-right:8px solid #fff;
        }
    }
}

.gamestart {
    .header {
        height:500px;
        text-align:center;
        padding-top:300px;
        line-height:150%;
    }
    .footer {
        height:500px;
        padding-top:200px;
        text-align:center;
        line-height:150%;

    }
    .push-buttons {
        display:flex;
        justify-content:space-between;
        .button-container {
            width:50%;
            height:300px;
            text-align: center;
            .button {
                margin:0px auto;
                width:125px;
                height:125px;
                background:url("../images/push-buttons.jpg");
                &.pushed {
                    background-position:100% 0;
                }
            }
            label {
                font-size:.5em;
            }
        }
    }
}

.scores {
    display:flex;
    justify-content:center;
    align-items:center;
    width:1000px;
    height:1640px;

    .icons {
        margin:20px auto;
        width:366px;
        img {
            width:366px;
            height:116px;
            image-rendering: auto;
            image-rendering: crisp-edges;
            image-rendering: pixelated;
        }
    }
    .room {
        opacity:0;
        transition:opacity .75s ease-in-out;
        display:none;
        width:1000px;
        &.preactive {
            display:block;
        }
        &.active {
            opacity:1;
        }
        h3 {
            margin-bottom:15px;
            margin-top:100px;
            font-size:.95em;
            text-align: center;
        }

        ul  {
            margin:0px;
            padding:0px;
            list-style-type:none;
            list-style:none;

            li.score {
                border:8px solid #fff;
                margin-bottom:16px;
                display:flex;
                position:relative;
                opacity:0;
                
                transition:opacity .75s ease-in-out, left .75s ease-in-out, right .75s ease-in-out;
               
                &.right {
                    right:100%;
                    &.active {
                        opacity:1;
                        right:0%;
                    }
                }
                &.left {
                    left:100%;
                    &.active {
                        opacity:1;
                        left:0%;
                    }
                }

                &:nth-child(1) {
                    transition-delay:.5s;
                }

                &:nth-child(2) {
                    transition-delay:1s;
                }

                &:nth-child(3) {
                    transition-delay:1.5s;
                }

                &:nth-child(4) {
                    transition-delay:2s;
                }

                &:nth-child(5) {
                    transition-delay:2.5s;
                }
                
                .scoreranking {
                    width:50px;
                    padding:16px;
                    padding-top:32px;
                    text-align:center;
                    border-right:8px solid #fff;

                    span {
                    
                    }
                }

                .details {
                    padding:32px;
                    width:100%;
                    .top {
                        display:flex;
                        justify-content:space-between;
                        align-items: bottom;
                      
                    }
                }

                .container {
                    display:flex;
                    justify-content:space-between;
                    align-items: flex-end;
                }

                h4 {
                    font-size:.8em;
                    color:#0FF;
                }
                &:nth-child(1) h4 {
                    color:#00f000;
                }
                &:nth-child(2) h4 {
                    color:#00f0f0;
                }
                &:nth-child(3) h4 {
                    color:#f0a000;
                }

                .date {
                    margin-right:32px;
                }
                .no-hints {
                    font-size:.5em;
                    flex-direction: column;
                    margin-bottom:10px;
                }
                .duration {
                    text-align:right
                }

                label {
                    font-size:.4em;
                    margin-bottom:20px;
                    color:#777;
                    text-transform: uppercase;
                }

                p {
                    font-size:.5em;
                }
            }
        }
    }
}

.game {
    position:relative;
    // border:8px solid #fff;
    // 1496
    .game-header {
        height:186px;
        display:flex;
        justify-content:space-between;
        align-items: top;
        .controls {
            label {
                text-transform:uppercase;
                font-size:.5em;
                display:block;
                margin-bottom:20px;
            }
            .current-control {
                image-rendering: auto;
                image-rendering: crisp-edges;
                image-rendering: pixelated;
                display:flex;
                text-align:center;
                justify-content: center;
               
                .control {
                    opacity:0;
                    transform:scaleX(.7) scaleY(.7);
                    transition:all .5s ease-in-out;

                    &.active {
                     opacity:1;
                     transform:scaleX(1) scaleY(1);
                    }
                    width:96px;
                    height:96px;
                    display:inline-block;
                    background:url(../images/joystick-green.png);
                    background-size:100% 100%;
                    &.joystick-green {
                        background-image:url(../images/joystick-green.png);
                    }
                    &.joystick-yellow {
                        background-image:url(../images/joystick-yellow.png);
                    }
                    &.joystick-red {
                        background-image:url(../images/joystick-red.png);
                    }
                    &.joystick-blue {
                        background-image:url(../images/joystick-blue.png);
                    }
                    &.button-green {
                        background-image:url(../images/button-green.png);
                    }
                    &.button-yellow {
                        background-image:url(../images/button-yellow.png);
                    }
                    &.button-red {
                        background-image:url(../images/button-red.png);
                    }
                    &.button-blue {
                        background-image:url(../images/button-blue.png);
                    }
                }
            }
        }
        .nextpiece {
            position:relative;
            width:100px;
            height:100px;
            .active-piece {
                transform:scaleX(.5) scaleY(.5);
            }
        }
        
    }
    .game-footer {
        height:170px;
        margin-top:16px;
        text-align:center;
        align-items: top;

        label {
            text-transform: uppercase;
            margin-bottom:16px;
            margin-top:36px;
            font-size:.6em;
            display:block;
        }
    }
    .gametable-wrapper {
        border: 8px solid #fff;
        width:790px;
        height: 1428px;
        margin:0px auto;
        padding: 16px;
        background-color:#262d33;
        position: relative;
    }

    .changingcontrols {
        position:absolute;
        font-size:1.1em;
        text-align:center;
        background-color:rgba(0,0,0,.5);
        height:248px;
        align-items:center;
        top:568px;
        display:flex;
        .text {
            margin: 0px auto;
            line-height:140%;

        }
        width:100%;
        text-transform: uppercase;
        opacity:0;
        transition:all .5s ease-in-out;
        &.active {
            opacity:1;
        }
    }
    .gamegridtable {
        margin:0px auto;
        border-left:8px solid rgba(0,0,0,.3);
        border-bottom:8px solid rgba(0,0,0,.3);
        // border:4px solid #262d33;
        background-color:#26393d;
        position:absolute;
        top:8px;
        left:8px;
        tr {
            td {
                border-right:8px solid rgba(0,0,0,.3);
                border-top:8px solid rgba(0,0,0,.3);
                width:72px;
                height:72px;
                position:relative;
                background-image:url("/images/background-blocks.png");
                background-size:400% 400%;
                image-rendering: auto;
                image-rendering: crisp-edges;
                image-rendering: pixelated;
                &.number_1 {
                    background-position:0% 0%;
                }
                &.number_2 {
                    background-position:0% -100%;
                }
                &.number_3 {
                    background-position:0% -200%;
                }
                &.number_4 {
                    background-position:0% -300%;
                }
                &.number_5 {
                    background-position:-100% 0%;
                }
                &.number_6 {
                    background-position:-100% -100%;
                }
                &.number_7 {
                    background-position:-100% -200%;
                }
                &.number_8 {
                    background-position:-100% -300%;
                }
                &.number_9 {
                    background-position:-200% 0%;
                }
                &.number_10 {
                    background-position:-200% -100%;
                }
                &.number_11 {
                    background-position:-200% -200%;
                }
                &.number_12 {
                    background-position:-200% -300%;
                }
                &.number_13 {
                    background-position:-300% -0%;
                }
                &.number_14 {
                    background-position:-300% -100%;
                }
                &.number_15 {
                    background-position:-300% -200%;
                }
                &.number_16 {
                    background-position:-300% -300%;
                }
            }
        }
    }
    .landed-pieces, .active-piece, .active-clump {
        position:absolute;
        top:8px;
        left:8px;
        .piece {
            position:absolute;
            background-color:#555;
            width:72px;
            height:72px;
            image-rendering: auto;
            image-rendering: crisp-edges;
            image-rendering: pixelated;
            span {
                width:72px;
                height:72px;
                background-image:url("/images/yellow-blocks.png");
                background-size:400% 400%;
                display:block;
                position: absolute;
                image-rendering: crisp-edges;
            }
        }
        
        .piece {
            background-color:#555;
            
            &.number_1, 
            &.number_11, 
            &.number_21, 
            &.number_31,
            &.number_41,
            &.number_51,
            &.number_61,
            &.number_71,
            &.number_81,
            &.number_91,
            &.number_101,
            &.number_111,
            &.number_121,
            &.number_131,
            &.number_141,
            &.number_151 {
                span {
                    background-image:url("/images/blue-blocks.png");
                }
                // background-color:#0000f0;
            }
            &.number_2, 
            &.number_12, 
            &.number_22, 
            &.number_32,
            &.number_42,
            &.number_52,
            &.number_62,
            &.number_72,
            &.number_82,
            &.number_92,
            &.number_102,
            &.number_112,
            &.number_122,
            &.number_132,
            &.number_142,
            &.number_152 {
                span {
                    background-image:url("/images/orange-blocks.png");
                }
                // background-color:#f0a000;
            }
            &.number_3, 
            &.number_13, 
            &.number_23, 
            &.number_33,
            &.number_43,
            &.number_53,
            &.number_63,
            &.number_73,
            &.number_83,
            &.number_93,
            &.number_103,
            &.number_113,
            &.number_123,
            &.number_133,
            &.number_143,
            &.number_153 {
                span {
                    background-image:url("/images/green-blocks.png");
                }
                // background-color:#00f000;
            }
            &.number_4, 
            &.number_14, 
            &.number_24, 
            &.number_34,
            &.number_44,
            &.number_54,
            &.number_64,
            &.number_74,
            &.number_84,
            &.number_94,
            &.number_104,
            &.number_114,
            &.number_124,
            &.number_134,
            &.number_144,
            &.number_154 {
                span {
                    background-image:url("/images/red-blocks.png");
                }
                // background-color:#f00000;
            }
            &.number_5, 
            &.number_15, 
            &.number_25, 
            &.number_35,
            &.number_45,
            &.number_55,
            &.number_65,
            &.number_75,
            &.number_85,
            &.number_95,
            &.number_105,
            &.number_115,
            &.number_125,
            &.number_135,
            &.number_145,
            &.number_155 {
                span {
                    background-image:url("/images/purple-blocks.png");
                }
                // background-color:#a000f0;
            }
            &.number_6, 
            &.number_16, 
            &.number_26, 
            &.number_36,
            &.number_46,
            &.number_56,
            &.number_66,
            &.number_76,
            &.number_86,
            &.number_96,
            &.number_106,
            &.number_116,
            &.number_126,
            &.number_136,
            &.number_146,
            &.number_156 {
                span {
                    background-image:url("/images/lightblue-blocks.png");
                }
                // background-color:#00f0f0;
            }
            &.number_7, 
            &.number_17, 
            &.number_27, 
            &.number_37,
            &.number_47,
            &.number_57,
            &.number_67,
            &.number_77,
            &.number_87,
            &.number_97,
            &.number_107,
            &.number_117,
            &.number_127,
            &.number_137,
            &.number_147,
            &.number_157, {
                span {
                    background-color:#f0f000;
                }
            }

            &.number_1, 
            &.number_2, 
            &.number_3, 
            &.number_4, 
            &.number_5, 
            &.number_6, 
            &.number_7 {
                span {
                    background-position:0 0;
                }
            }

            &.number_11, 
            &.number_12, 
            &.number_13, 
            &.number_14, 
            &.number_15, 
            &.number_16, 
            &.number_17 {
                span {
                    background-position:-100% 0;
                }
            }

            &.number_21, 
            &.number_22, 
            &.number_23, 
            &.number_24, 
            &.number_25, 
            &.number_26, 
            &.number_27 {
                span {
                    background-position:-200% -100%;
                }
            }

            &.number_31, 
            &.number_32, 
            &.number_33, 
            &.number_34, 
            &.number_35, 
            &.number_36, 
            &.number_37 {
                span {
                    background-position:-300% 0;
                }
            }

            &.number_41, 
            &.number_42, 
            &.number_43, 
            &.number_44, 
            &.number_45, 
            &.number_46, 
            &.number_47 {
                span {
                    background-position:0% -100%;
                }
            }

            &.number_51, 
            &.number_52, 
            &.number_53, 
            &.number_54, 
            &.number_55, 
            &.number_56, 
            &.number_57 {
                span {
                    background-position:-100% -100%;
                }
            }

            &.number_61, 
            &.number_62, 
            &.number_63, 
            &.number_64, 
            &.number_65, 
            &.number_66, 
            &.number_67 {
                span {
                    background-position:-200% -100%;
                }
            }

            &.number_71, 
            &.number_72, 
            &.number_73, 
            &.number_74, 
            &.number_75, 
            &.number_76, 
            &.number_77 {
                span {
                    background-position:-300% -100%;
                }
            }

            &.number_81, 
            &.number_82, 
            &.number_83, 
            &.number_84, 
            &.number_85, 
            &.number_86, 
            &.number_87 {
                span {
                    background-position:0% -200%;
                }
            }

            &.number_91, 
            &.number_92, 
            &.number_93, 
            &.number_94, 
            &.number_95, 
            &.number_96, 
            &.number_97 {
                span {
                    background-position:-100% -200%;
                }
            }

            &.number_101, 
            &.number_102, 
            &.number_103, 
            &.number_104, 
            &.number_105, 
            &.number_106, 
            &.number_107 {
                span {
                    background-position:-200% -200%;
                }
            }

            &.number_111, 
            &.number_112, 
            &.number_113, 
            &.number_114, 
            &.number_115, 
            &.number_116, 
            &.number_117 {
                span {
                    background-position:-300% -200%;
                }
            }

            &.number_121, 
            &.number_122, 
            &.number_123, 
            &.number_124, 
            &.number_125, 
            &.number_126, 
            &.number_127 {
                span {
                    background-position:0% -300%;
                }
            }

            &.number_131, 
            &.number_132, 
            &.number_133, 
            &.number_134, 
            &.number_135, 
            &.number_136, 
            &.number_137 {
                span {
                    background-position:-100% -300%;
                }
            }

            &.number_141, 
            &.number_142, 
            &.number_143, 
            &.number_144, 
            &.number_145, 
            &.number_146, 
            &.number_147 {
                span {
                    background-position:-200% -300%;
                }
            }

            &.number_151, 
            &.number_152, 
            &.number_153, 
            &.number_154, 
            &.number_155, 
            &.number_156, 
            &.number_157 {
                span {
                    background-position:-300% -300%;
                }
            }
        }
    }
}